.radarParent {
    height: 250px;
    width: 250px;
    background-color: #282D30;
    border-radius: 5px;
    display: flex;
    align-items: end;
}

@media screen and (max-width: 1025px) {
    .radarParent {
        width: 194px;
    }
}