.objectivesParent {
    height: 250px;
    width: 250px;
    border-radius: 5px;
    display: flex;
    align-items: end;
    background-color: #FF0101;
}

@media screen and (max-width: 1025px) {
    .objectivesParent {
        width: 194px;
    }
}
