.dashboardParent {
    max-width: 1126px;
    width: 100%;
    margin: 0 auto;
    padding: 48px 0 0;
}

.objectifAndProteins {
    display: flex;
    flex-direction: row;
    padding: 48px 0 0;
    gap: 32px;
}

.parentObjectif {
    max-width: 835px;
    width: 100%;
    max-height: 320px;
    height: 100%;
    padding-bottom: 12px;
}

.objectifs {
    display: flex;
    margin-top: 25px;
    grid-gap: 20px;
    justify-content: space-between;
}

.proteins {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

@media screen and (max-width: 1025px) {
    .dashboardParent {
        max-width: calc(800px - 118px);
        width: 100%;
        margin: 0 auto;
        padding: 48px 0 0;
    }

    .parentObjectif {
        max-height: 200px;
    }

    .objectifAndProteins {
        width: 650px;
        gap: 8px;
    }

    .objectifs {
        grid-gap: 10px;
    }

    .proteins {
        gap: 18px;
    }
}