.dashboardParent {
    max-width: 1126px;
    width: 100%;
    margin: 0 auto;
    padding: 48px 0;
}

.objectifAndProteins {
    display: flex;
    flex-direction: row;
    padding: 48px 0;
}

.parentObjectif {
    max-width: 835px;
    width: 100%;
}

.objectifs {
    display: flex;
    flex-direction: row;
}