.weightParent {
    box-shadow: 0 2px 4px 0 #00000005;
    background-color: #FBFBFB;
}

.weightParent h2 {
    font-family: Roboto, sans-serif;
    font-size: 15px;
    font-weight: 500;
    line-height: 24px;
    color: #20253A;
    padding: 4px;
}
