.nameHeader {
    font-family: "Roboto Light", sans-serif;
    font-weight: 500;
    font-size: 48px;
    line-height: 24px;
}

.paragraphHeader {
    font-family: "Roboto Light", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    padding-top: 48px;
}

.spanName {
    color: #FF0101;
    font-family: Roboto, sans-serif;
    font-size: 48px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0;
    text-align: left;

}